<div class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink="/line-chart">Linechart</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/pie-chart">Piechart</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/bar-chart">Barchart</a>
    </li>
    
    <!-- <li class="nav-item">
      <a class="nav-link" routerLink="/doughnut-chart"></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/bubble-chart"></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/bar-chart"></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/radar-chart"></a>
    </li> -->
  </ul>

  <div>
    <router-outlet></router-outlet>
  </div>
</div>

